* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

/* Header */
header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px);
}

/* SECTION */
section {
    background-color: #1c1c1c;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* CONTROLES */
.controle-jogo {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

#btnReiniciar {
    margin-top: 10px;
    background-color: #444;
    color: #fff;
    border: none;
}

#btnReiniciar:hover {
    background-color: #666;
}

/* MENSAGENS */
#mensagem,
#tentativas {
    margin-top: 15px;
    font-size: 18px;
}

/* FOOTER */
footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}